@model The100DaysOfCode.MVC.Models.DayOfCode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Day Of Code</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <b>@Html.DisplayNameFor(model => model.Goals)</b>
    <ul class="list-group">
        @foreach (var goal in Model?.Goals ?? new List<Goal>())
        {
            <li class="list-group-item">
                @Html.CheckBoxFor(model => model.Goals.Where(x=>x.Id == goal.Id).First().Check,new { goalid=goal.Id})
                @goal.Name
            </li>
            @* <div id="newGoalDiv"></div> *@
        }
    </ul>
    <a class="btn btn-primary" asp-action="AddGoal" asp-route-id="@Model?.Id">Add Goal</a>
    <p>
        <b>@Html.DisplayNameFor(model => model.Notes)</b>
    <ul class="list-group">
            @foreach (var note in Model?.Notes ?? new List<Note>())
            {
            <li class="list-group-item">
                    @note.Text
            </li>
            }
    </ul>
    <a class="btn btn-primary" asp-action="AddNote" asp-route-id="@Model?.Id">Add Note</a>
    </p>
</div>
<div>
    <a asp-action="EditDay" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

<script type="text/javascript">
    document.querySelectorAll("input[goalId]")
        .forEach(function (check) {
            check.addEventListener('change', function (event) {
                let formData = new FormData();
                formData.append("id", check.getAttribute("goalid"));
                formData.append("isChecked", check.checked);
                console.log(formData)
                fetch('/DaysOfCode/CheckGoal', { method: "PUT",

                        body: formData })
                .then(response => response.json())
                .then(result => {
                console.log('Success:', result);
                })
                .catch(error => {
                console.error('Error:', error);
                });
            });
        });

@*     document.getElementById("newGoalDiv").innerHTML="<li class='list-group-item' ><input id=/></li>" *@
</script>
}