@model The100DaysOfCode.MVC.Models.DayOfCodeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Day Of Code</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <b>@Html.DisplayNameFor(model => model.Goals)</b>
    <ul class="list-group">
        @foreach (var goal in Model?.Goals ?? new List<GoalViewModel>())
        {
            <li class="list-group-item d-flex justify-content-between">
                <div class="input-group">
                    @Html.CheckBoxFor(model => model.Goals.Where(x=>x.Id == goal.Id).First().Check,
                new { goalid=goal.Id, @class="form-check-input me-1 col-sm-1 align-self-center"})
                <div class="col-sm-11 ps-2">
                    @if (goal.Check == false)
                    {
                        <input type="text" class="form-control-plaintext" id=@("goal_"+goal.Id) value="@goal.Name" readonly />
                    }
                    else
                    {
                        <input type="text" class="form-control-plaintext text-decoration-line-through align-self-center" id=@("goal_"+goal.Id) value="@goal.Name"/>
                    }
                    </div>
                </div>
                @if (goal.Check)
                {
                    <button class="btn bi bi-pencil align-self-start d-none" id="btnGoalEdit_@goal.Id" btnGoalEditId=@goal.Id></button>
                    
                }
                else
                {
                    <button class="btn bi bi-pencil align-self-start" id="btnGoalEdit_@goal.Id" btnGoalEditId=@goal.Id></button>
                }
                <button class="btn bi bi-journal-check align-self-end d-none" id=@("btnGoalSave_"+goal.Id)></button>
                <form asp-action="DeleteGoal">
                    <input type="hidden" name="Id" value="@goal.Id" />
                    <button type="submit" class="btn bi bi-trash" />
                </form>
            </li>
        }
        <li id="liAddGoal" class='list-group-item d-none'>
            @using (Html.BeginForm("AddGoal", "DaysOfCode"))
            {
                <input class="d-none" type="text" value=@Model?.Id name="id" />
                <input type="text" name="name" />
                <input class="btn btn-primary" type="submit" value="Add Goal" />
            }
        </li>
    </ul>
    <button class="btn btn-primary" id="btnAddGoal">Add Goal</button>
    <p>
        <b>@Html.DisplayNameFor(model => model.Notes)</b>
    <ul class="list-group">
            @foreach (var note in Model?.Notes ?? new List<NoteViewModel>())
            {
            <li class="list-group-item d-flex justify-content-between">
                <textarea class="form-control-plaintext" rows="@(note.Text.Where(x=>x == '\n').Count()+1)" type="text" id=@("textareaNote_"+note.Id)
                readonly>@note.Text</textarea>
                <button class="btn bi bi-pencil align-self-start" btnNoteEditId=@note.Id></button>
                <button class="btn bi bi-journal-check align-self-end d-none" id=@("btnNoteSave_"+note.Id)></button>
                <form asp-action="DeleteNote">
                    <input type="hidden" name="Id" value="@note.Id" />
                    <button type="submit" class="btn bi bi-trash" />
                </form>
                
            </li>
            }
        <li id="liAddNote" class='list-group-item d-none'>
                @using (Html.BeginForm("AddNote", "DaysOfCode"))
                {
                <input class="d-none" type="text" value=@Model?.Id name="id" />
                <textarea class="form-control" rows="3" name="text"></textarea>
                <input class="btn btn-primary" type="submit" value="Add Note" />
                }
        </li>
    </ul>
    <button class="btn btn-primary" id="btnAddNote">Add Note</button>
    </p>
</div>
<div>
    <a asp-action="EditDay" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<form id="__AjaxAntiForgeryForm" action="#" method="put">
    @Html.AntiForgeryToken()
</form>
@section Scripts {
<script src="~/js/DaysOfCode/Day.js"></script>
}