@model IEnumerable<The100DaysOfCode.MVC.Models.DayOfCodeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Days Of Code</h1>

<p>
    <a asp-action="CreateDay">Add Day</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model ?? new List<DayOfCodeViewModel>()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Day" asp-route-id="@item.Id">Details</a> @*|
                <a asp-action="DeleteDay" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
